header.header
  .container.container--vw
    .header-wrapper
      .header-logo
        img(src="images/logo.svg", alt="arc — architecture, renovation, construction")
      
      .header-controls
        +link( { className: 'header-controls__phone', icon: 'phone.svg', href: 'tel:+74956468113', text: '+7 495 646 81 13' } )

        .header-controls__audio
          audio(src="static/ac-dc_-_thunderstruck.mp3" type="audio/mpeg" autoplay controls).header-controls__audio-item#audio-player
          .header-controls__audio-icon#audio-button
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M19.8103 16.7973L17.5438 15.4884C17.5066 15.467 17.4655 15.4533 17.423 15.4478C17.3804 15.4424 17.3372 15.4454 17.2958 15.4566C17.2544 15.4679 17.2156 15.4872 17.1816 15.5134C17.1477 15.5397 17.1193 15.5723 17.0979 15.6096L16.689 16.3185C16.5986 16.4747 16.6521 16.676 16.8082 16.7664L19.0747 18.0753C19.1119 18.0967 19.153 18.1104 19.1955 18.1159C19.2381 18.1213 19.2813 18.1183 19.3227 18.1071C19.3641 18.0958 19.4029 18.0765 19.4368 18.0503C19.4708 18.024 19.4992 17.9914 19.5205 17.9541L19.9295 17.2452C20.0199 17.089 19.9644 16.8877 19.8103 16.7973ZM17.0959 8.70548C17.1172 8.74272 17.1456 8.7754 17.1796 8.80164C17.2135 8.82789 17.2523 8.8472 17.2937 8.85845C17.3351 8.86971 17.3783 8.8727 17.4209 8.86726C17.4635 8.86181 17.5045 8.84803 17.5418 8.82671L19.8082 7.51781C19.9644 7.4274 20.0178 7.22603 19.9274 7.06986L19.5205 6.36301C19.4992 6.32577 19.4708 6.2931 19.4368 6.26685C19.4029 6.2406 19.3641 6.2213 19.3227 6.21004C19.2813 6.19878 19.2381 6.19579 19.1955 6.20124C19.153 6.20668 19.1119 6.22046 19.0747 6.24178L16.8082 7.55068C16.7332 7.59443 16.6785 7.66612 16.6562 7.75006C16.6338 7.834 16.6457 7.92338 16.689 7.99863L17.0959 8.70548ZM20.6712 11.4178H18.0411C17.8603 11.4178 17.7123 11.5658 17.7123 11.7466V12.5685C17.7123 12.7493 17.8603 12.8973 18.0411 12.8973H20.6712C20.8521 12.8973 21 12.7493 21 12.5685V11.7466C21 11.5658 20.8521 11.4178 20.6712 11.4178ZM14.3404 4C14.2192 4 14.0959 4.03288 13.9829 4.1089L6.69863 8.86986H3.32877C3.14795 8.86986 3 9.01781 3 9.19863V15.1164C3 15.2973 3.14795 15.4452 3.32877 15.4452H6.69863L13.9829 20.2062C14.0959 20.2801 14.2212 20.3151 14.3404 20.3151C14.6836 20.3151 15 20.0418 15 19.6555V4.65959C15 4.27329 14.6836 4 14.3404 4Z" fill="black")
        