.footer {
  &-inner {
    position: relative;
  }

  &-anim {
    max-width: vw(1254);
    width: 100%;
  }

  &-wrapper {
    position: absolute;
    top: vw(104);
    right: vw(35);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: vw(954);
    padding: vw(32) vw(53) vw(69) vw(32);
    color: $white;
    background-color: $hky;
  }

  &-title {
    max-width: vw(300);

    &__item {
      margin-bottom: vw(8);
      font-weight: 500;
      font-size: vw(24);
      line-height: vw(28);
    }

    &__sup {
      font-weight: 500;
      font-size: vw(14);
      line-height: vw(20);
    }
  }

  &-info {
    &__link {
      max-width: vw(317);

      &:not(:last-child) {
        margin-bottom: vw(30);
      }
    }
  }
}
