.header {
  padding-top: vw(64);

  @include max(sm) {
    padding-top: 32px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    width: vw(184);

    @include max(sm) {
      width: 140px;
    }

    @include max(xs) {
      width: 100px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-controls {
    display: flex;
    align-items: center;

    &__phone {
      margin-right: vw(146);

      @include max(sm) {
        margin-right: 80px;
      }

      @include max(xs) {
        margin-right: 24px;
      }

      @include max(xxs) {
        margin-right: 0;
      }
    }

    &__audio {
      position: relative;

      @include max(xxs) {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      &-item {
        position: absolute;
        bottom: vw(-100);
        right: 0;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;

        @include max(sm) {
          bottom: -100px;
        }
      }

      &-icon {
        display: block;
        width: vw(24);
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;

        @include max(sm) {
          width: 24px;
        }

        @include max(xs) {
          width: 20px;
        }

        &.active {
          opacity: 1;
        }

        svg {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
