body {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 500;
  color: $black;
  background-color: $white;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 64px 0 35px;
}
