extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	.hero
		.container.container--vw
			.hero__wrapper
				.hero__title
					.hero__title-icon
						svg(width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M26.0554 16.9446V0H16.9446V16.9446H0V26.0554H16.9446V43H26.0554V26.0554H43V16.9446H26.0554Z" fill="black")
					
					h1.hero__title-item
						| Наш сайт в разработке
					
					p.hero__title-sup
						| Our website is under construction.