.link {
  display: flex;
  align-items: center;
  font-size: vw(14);
  line-height: vw(20);
  text-decoration: none;
  color: $black;
  transition: color 0.3s ease-in-out;

  @include hover {
    color: $hky;
  }

  &--inverse {
    color: $white;

    @include hover {
      color: $black;
    }
  }

  &--no {
    align-items: flex-start;

    @include hover {
      color: inherit;
    }
  }

  &__icon {
    width: vw(24);
    flex-shrink: 0;
    margin-right: vw(21);

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
