.link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $black;
  transition: 0.3s ease-in-out;

  @include hover {
    color: $hky;
  }

  &--inverse {
    color: $white;

    @include hover {
      color: $black;
    }
  }

  &--no {
    align-items: flex-start;

    @include hover {
      color: inherit;
    }
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 21px;
  }
}
