.hero {
  width: 100%;
  padding-top: vw(32);
  padding-bottom: vw(113);
  align-self: center;

  .container {
    //display: flex;
  }

  &__wrapper {
    padding-left: vw(390);
  }

  &__title {
    position: relative;
    max-width: vw(565);
    color: $black;

    &-icon {
      position: relative;
      top: 0;
      left: vw(-43);
      width: vw(43);
      margin-bottom: vw(32);

      svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &-item {
      margin-bottom: vw(25);
      font-weight: 700;
      font-size: vw(64);
      line-height: vw(64);
    }

    &-sup {
      font-size: vw(24);
      line-height: vw(28);
    }
  }
}
